<h1>Editing Order</h1>

<%= render "form", order: @order%>

<br>

<div>
    <%= link_to "Show this order", @order, class: "btn btn-primary"%>
    <%= link_to orders_path, class: "btn btn-primary" do%>
       <%= icon('fa-solid', 'arrow-left')%> Back to orders
    <%end%>
</div>